In [36]:
from pymongo import MongoClient
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()
client = MongoClient()

In [37]:
import requests
def geocode(address):
    res = requests.get(f"https://geocode.xyz/{address}", params={"json":1})
    data = res.json()
    return {
"type":"Point",
"coordinates":[float(data["longt" ]),float(data["latt"])]
}

In [38]:
#EJEMPLO PARA QUITAR LUEGO  https://geojson.io/#map=16/40.3959/-3.70 39
# https://geojson.org/
ironhack = "Paseo de la chopera 14 Madrid" 
geocode(ironhack)

{'type': 'Point', 'coordinates': [-3.7011, 40.39652]}

In [39]:
# https://docs.mongodb.com/manual/referenc e/operator/query/near/#op._S_near

In [40]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

## First steps 

I want to find the best emplacement for gaming company, for this, in first place I investigated other successful companies that work in related areas. 

Therefore I decide to perform quite a large query with all the information I want, and excluding those data that will not help me to find a nice place for my company.

In the following query I chose:
- Those companies that were born after 2005
- That work in USD
- Whose acquisition price is greater that 1000000
- And that work on software, design or web (three features that I consider importat for my gaming company)

In [82]:
query = {"$and": [{"founded_year":{"$gte":2005}},
                  {"acquisition.price_currency_code":{"$eq":"USD"}},
                  {"acquisition.price_amount":{"$gt":1000000}}, 
                  {"$or":[{"category_code":{"$eq":"software"}},
                          {"category_code":{"$eq":"design"}}, 
                          {"category_code":{"$eq":"games_video"}},
                          {"category_code":{"$eq":"web"}}]}]}
companies = list(db["companies"].find(query,{"offices":1, "offices.latitude":1, "offices.longitude":1,  "name":1, "offices.city":1,"_id":0}))
len(companies)

58

From this query I obtain 58 companies, now, I am going to check their location, find my interests and steel some of their ideas to use them in my project. I want it to be as successful as theirs!

In [83]:
import pandas as pd
df = pd.DataFrame(list(companies)) 
df

                  name                                            offices
0             Wetpaint  [{'city': 'Seattle', 'latitude': 47.603122, 'l...
1              YouTube  [{'city': 'San Bruno', 'latitude': 37.627971, ...
2            Revision3  [{'city': 'San Francisco', 'latitude': 37.7577...
3           Pageflakes  [{'city': 'San Francisco', 'latitude': 37.7581...
4                 Bebo  [{'city': 'San Francisco', 'latitude': 37.7821...
5                Meebo  [{'city': 'Mountain View', 'latitude': 37.3936...
6            WallStrip  [{'city': None, 'latitude': 37.09024, 'longitu...
7               Pickle  [{'city': 'Arlington', 'latitude': 38.892371, ...
8            PartnerUp  [{'city': 'Minneapolis', 'latitude': None, 'lo...
9               OMGPOP  [{'city': 'New York', 'latitude': 40.723384, '...
10               Xobni  [{'city': 'San Francisco', 'latitude': 37.7896...
11            PlaySpan  [{'city': 'Santa Clara', 'latitude': 37.396312...
12          FriendFeed  [{'city': 'Mountain View', 'latitude': 37.3924...
13              Tumblr  [{'city': 'New York', 'latitude': 40.743808, '...
14      MerchantCircle  [{'city': 'Mountain View', 'latitude': None, '...
15           Goodreads  [{'city': 'Santa Monica', 'latitude': 34.01052...
16           jellyfish  [{'city': 'Middleton', 'latitude': None, 'long...
17           Aductions  [{'city': 'San Jose', 'latitude': 37.312676, '...
18             amiando  [{'city': 'Munich', 'latitude': 48.124827, 'lo...
19                Qype  [{'city': 'Hamburg', 'latitude': 53.54598, 'lo...
20              Rutube  [{'city': 'Moscow', 'latitude': 52.78945, 'lon...
21            Footnote  [{'city': 'Lindon', 'latitude': 40.3310529, 'l...
22       DailyStrength  [{'city': 'Los Angeles', 'latitude': 34.043948...
23            Krillion  [{'city': 'Mountain View', 'latitude': 37.3917...
24           MyBlogLog  [{'city': 'San Francisco', 'latitude': 37.7751...
25            Playfish  [{'city': 'London', 'latitude': 51.4991094, 'l...
26              Dimdim  [{'city': 'Lowell', 'latitude': 42.6161515, 'l...
27             Mytopia  [{'city': 'Palo Alto', 'latitude': 34.007967, ...
28             Cotendo  [{'city': 'Netanya', 'latitude': None, 'longit...
29           FoxyTunes                                                 []
30         Vivity Labs  [{'city': 'Vancouver', 'latitude': 49.282249, ...
31            Aardvark  [{'city': 'San Francisco', 'latitude': 37.7486...
32     FuGen Solutions  [{'city': 'Sunnyvale', 'latitude': 37.384239, ...
33           Sometrics  [{'city': 'El Segundo', 'latitude': 34.048857,...
34           iConclude  [{'city': 'Bellevue', 'latitude': None, 'longi...
35               Hive7  [{'city': 'Palo Alto', 'latitude': 37.44296, '...
36             BumpTop  [{'city': 'Toronto', 'latitude': 43.648786, 'l...
37           LabPixies  [{'city': 'Tel Aviv', 'latitude': 32.0554, 'lo...
38          Bankaholic  [{'city': 'San Marino', 'latitude': 34.122322,...
39           Imagekind  [{'city': 'Raleigh', 'latitude': 47.617732, 'l...
40           Posterous  [{'city': 'San Francisco', 'latitude': 37.7751...
41          PeakStream  [{'city': 'Redwood City', 'latitude': None, 'l...
42           TweetDeck  [{'city': 'London', 'latitude': 51.5001524, 'l...
43     Saffron Digital  [{'city': 'London', 'latitude': None, 'longitu...
44      RentMineOnline  [{'city': 'San Francisco', 'latitude': None, '...
45               Hunch  [{'city': 'New York', 'latitude': 40.741179, '...
46              ngmoco  [{'city': 'San Francisco', 'latitude': 37.7705...
47  dynaTrace software  [{'city': 'Waltham', 'latitude': 42.391389, 'l...
48            DocVerse  [{'city': 'San Francisco', 'latitude': 37.7881...
49         CognoVision  [{'city': 'Markham', 'latitude': 43.8548993, '...
50          Vocalocity  [{'city': 'Atlanta', 'latitude': 33.7812614, '...
51           Chillingo  [{'city': 'Macclesfield', 'latitude': None, 'l...
52     AnySource Media  [{'city': 'Malvern', 'latitude': 40.054547, 'l...
53            Zencoder  [{'city': 'San Francisco', 'latitude': None, '...
54                Milo  [{'city': 'Palo Alto', 'latitude': 37.444531, ...
55            Nextstop  [{'city': 'San Francisco', 'latitude': 37.7710...
56             Playdom  [{'city': 'Palo Alto', 'latitude': 37.393536, ...
57        ME2 Security  [{'city': '', 'latitude': None, 'longitude': N...

In [85]:
offices = df.explode("offices").apply(lambda e: e.offices,axis=1,result_type="expand")

offices

             city   latitude   longitude
0         Seattle  47.603122 -122.333253
0        New York  40.723731  -73.996431
1       San Bruno  37.627971 -122.426804
2   San Francisco  37.757758 -122.388243
3   San Francisco  37.758113 -122.414689
..            ...        ...         ...
54      Palo Alto  37.444531 -122.163352
55  San Francisco  37.771018 -122.402598
56      Palo Alto  37.393536 -122.076747
56   Solana Beach        NaN         NaN
57                       NaN         NaN

[75 rows x 3 columns]

In [89]:
import numpy as np
def transformToGeoPoint(s):
    if np.isnan(s.latitude) or np.isnan(s.longitude):
        return None 
    return {"type":"Point", "coordinates":[s.longitude, s.latitude] }
offices["geopoint"] = offices. apply(transformToGeoPoint, axis=1)

In [90]:
offices

,city,latitude,longitude,geopoint
0,Seattle,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
0,New York,40.723731,-73.996431,"{'type': 'Point', 'coordinates': [-73.9964312,..."
1,San Bruno,37.627971,-122.426804,"{'type': 'Point', 'coordinates': [-122.426804,..."
2,San Francisco,37.757758,-122.388243,"{'type': 'Point', 'coordinates': [-122.388243,..."
3,San Francisco,37.758113,-122.414689,"{'type': 'Point', 'coordinates': [-122.414689,..."
...,...,...,...,...
54,Palo Alto,37.444531,-122.163352,"{'type': 'Point', 'coordinates': [-122.163352,..."
55,San Francisco,37.771018,-122.402598,"{'type': 'Point', 'coordinates': [-122.4025976..."
56,Palo Alto,37.393536,-122.076747,"{'type': 'Point', 'coordinates': [-122.076747,..."
56,Solana Beach,NaN,NaN,None
57,,NaN,NaN,None

In [ ]:
{$and: [{"founded_year":{"$gte":2005}},{"acquisition.price_amount":{"$gt":1000000}}, $or:[{"category_code":{"$eq":"software"}},{"category_code":{"$eq":"design"}},{"category_code":{"$eq":"web"}}]]}

In [ ]:
$or: [ { <expression1> }, { <expression2> }, ... , { <expressionN> } ] }

In [ ]:
{$and: [{"founded_year":{"$gte":2005}},{"acquisition.price_amount":{"$gt":1000000}}, {$or:[{"category_code":{"$eq":"software"}},{"category_code":{"$eq":"design"}},{"category_code":{"$eq":"web"}}]}]}

In [ ]:
{$and: [{"founded_year":{"$gte":2005}},{"acquisition.price_currency_code":{$eq:"USD"}},{"acquisition.price_amount":{"$gt":1000000}}, {$or:[{"category_code":{"$eq":"software"}},{"category_code":{"$eq":"design"}},{"category_code":{"$eq":"web"}}]}]}

In [ ]:
hago una query de empresas jóvenes y de ahí saco coordenadas las meto en un .point 
queries características de cosas que están en los datos en sí
luego explode, para separar los campos de oficines. luego coordenadas, y luego el .point